html{
    height: 100%;
}
body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    height: 100%;
}

main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.attribution {
    margin-top: 1rem;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

.results {
    margin: 0 auto;
    display: flex;
    border-radius: 2rem;
    flex-wrap: wrap;
    max-width: 46rem;
    box-shadow: 1rem 1rem 1rem hsl(221, 100%, 96%);
}

.results__visual-result {
    width: 50%;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: hsla(0, 0%, 100%, 0.699);
    margin: 0;
    padding: 2rem;
    box-sizing: border-box;
}

.results__visual-result h1 {
    margin: 0;
    font-size: 18px;
}

.results__avg-result {
    aspect-ratio: 1/1;
    border-radius: 50%;
    width: 10em;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.results__avg-result span {
    font-size: 4rem;
    font-weight: 800;
    color: white;
}

.results__text {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.results__text-title {
    font-weight: 700;
    font-size: 24px;
    color: white;
}

.results__summary {
    width: 50%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-sizing: border-box;
    margin: 0;
}

.results__summary h2 {
    margin: 0;
    font-size: 18px;
}

.results__categories {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.results__category-result {
    display: flex;
    justify-content: space-between;
    border-radius: 0.8rem;
    padding: 1rem;
}

.results__category-result--red {
    --color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.05);
}

.results__category-result--yellow {
    --color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.05);
}

.results__category-result--green {
    --color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.05);
}

.results__category-result--blue {
    --color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.05);

}

.results__category-result-name {
    display: flex;
    gap: 0.5rem;
    color: var(--color);
    font-weight: 600;
}

.results__category-result-value span {
    font-weight: 700;
}

.results__button {
    color: white;
    background-color: hsl(224, 30%, 27%);
    border-radius: 2rem;
    padding: 1rem;
    border: none;
    font-weight: 600;
}

.results__button:hover {
    background-color: transparent;
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media (max-width: 600px) {
    .results__visual-result {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .results__summary {
        width: 100%;
    }

    body {
        margin: 0;
    }
}